@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-[#0a0a0f] text-white;
  margin: 0;
  font-family: "Inter", sans-serif;
}

button {
  @apply transition duration-200 ease-in-out;
}
